#footer{
    
    margin-top: 50px;
}

.footer-top { 
    padding: 60px 0; 
    background: #333; 
    text-align: left; 
    color: rgb(245, 239, 239); 
}

.footer-top h3 { 
    padding-bottom: 10px; 
    color: #fff; 
}

.footer-about img.logo-footer { 
    max-width: 74px; 
    margin-top: 0; 
    margin-bottom: 18px; 
}
.footer-about p a { 
    border: 0; 
}
.footer-about p a:hover, .footer-about p a:focus { 
    border: 0; 
}

.footer-contact p { 
    word-wrap: break-word; 
}
.footer-contact i { 
    padding-right: 10px; 
    font-size: 18px; 
    color: rgb(236, 232, 232); 
}
.footer-contact p a { 
    border: 0; 
}
.footer-contact p a:hover, .footer-contact p a:focus { 
    border: 0; 
}

.footer-links a { color: #aaa; 
    border: 0; 
}
.footer-links a:hover, .footer-links a:focus { 
    color: #fff; 
}

.footer-bottom { padding: 15px 0 17px 0; 
    background: rgb(22, 14, 14); 
    text-align: left; 
    color: rgb(255, 255, 255);
 }

.footer-social { 
    padding-top: 3px; 
    text-align: right; 
}
.footer-social a { 
    margin-left: 
    20px; color: rgb(255, 255, 255); 
    border: 0; 
}
.footer-social a:hover, .footer-social a:focus { 
    color: #838582; 
    border: 0; 
}
.footer-social i { 
    font-size: 24px; 
    vertical-align: middle; 
}

.footer-copyright { 
    padding-top: 5px; 
}
.footer-copyright a { 
    color: #fff; 
    border: 0; 
}
.footer-copyright a:hover, .footer-copyright a:focus { 
    color: rgba(236, 234, 234, 0.667); 
    border: 0; }



.instagram{
    color: rgb(248, 115, 137);
}
.google{
    color:rgb(255, 51, 51);
}
.facebook{
    color:rgb(36, 36, 248);
}
.twitter{
    color: rgb(93, 199, 235);
}